<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.member.persistence.auto.mapper.UserInfoEntityMapper">
  <resultMap id="BaseResultMap" type="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mem_code" jdbcType="VARCHAR" property="memCode" />
    <result column="mem_name" jdbcType="VARCHAR" property="memName" />
    <result column="mem_pwd" jdbcType="VARCHAR" property="memPwd" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="mem_type" jdbcType="INTEGER" property="memType" />
    <result column="m_status" jdbcType="INTEGER" property="mStatus" />
    <result column="registration channel" jdbcType="INTEGER" property="registrationChannel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mem_code, mem_name, mem_pwd, phone, email, address, id_card, mem_type, m_status, 
    "registration channel", create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_main_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from m_main_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    insert into m_main_info (id, mem_code, mem_name, 
      mem_pwd, phone, email, 
      address, id_card, mem_type, 
      m_status, "registration channel", create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{memCode,jdbcType=VARCHAR}, #{memName,jdbcType=VARCHAR}, 
      #{memPwd,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{memType,jdbcType=INTEGER}, 
      #{mStatus,jdbcType=INTEGER}, #{registrationChannel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    insert into m_main_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memCode != null">
        mem_code,
      </if>
      <if test="memName != null">
        mem_name,
      </if>
      <if test="memPwd != null">
        mem_pwd,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="memType != null">
        mem_type,
      </if>
      <if test="mStatus != null">
        m_status,
      </if>
      <if test="registrationChannel != null">
        "registration channel",
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memCode != null">
        #{memCode,jdbcType=VARCHAR},
      </if>
      <if test="memName != null">
        #{memName,jdbcType=VARCHAR},
      </if>
      <if test="memPwd != null">
        #{memPwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="memType != null">
        #{memType,jdbcType=INTEGER},
      </if>
      <if test="mStatus != null">
        #{mStatus,jdbcType=INTEGER},
      </if>
      <if test="registrationChannel != null">
        #{registrationChannel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    update m_main_info
    <set>
      <if test="memCode != null">
        mem_code = #{memCode,jdbcType=VARCHAR},
      </if>
      <if test="memName != null">
        mem_name = #{memName,jdbcType=VARCHAR},
      </if>
      <if test="memPwd != null">
        mem_pwd = #{memPwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="memType != null">
        mem_type = #{memType,jdbcType=INTEGER},
      </if>
      <if test="mStatus != null">
        m_status = #{mStatus,jdbcType=INTEGER},
      </if>
      <if test="registrationChannel != null">
        "registration channel" = #{registrationChannel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    update m_main_info
    set mem_code = #{memCode,jdbcType=VARCHAR},
      mem_name = #{memName,jdbcType=VARCHAR},
      mem_pwd = #{memPwd,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      mem_type = #{memType,jdbcType=INTEGER},
      m_status = #{mStatus,jdbcType=INTEGER},
      "registration channel" = #{registrationChannel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mem_code" jdbcType="VARCHAR" property="memCode" />
    <result column="mem_name" jdbcType="VARCHAR" property="memName" />
    <result column="mem_pwd" jdbcType="VARCHAR" property="memPwd" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="mem_type" jdbcType="INTEGER" property="memType" />
    <result column="m_status" jdbcType="INTEGER" property="mStatus" />
    <result column="registration channel" jdbcType="INTEGER" property="registrationChannel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mem_code, mem_name, mem_pwd, phone, email, address, id_card, mem_type, m_status, 
    "registration channel", create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from m_main_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from m_main_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    insert into m_main_info (id, mem_code, mem_name, 
      mem_pwd, phone, email, 
      address, id_card, mem_type, 
      m_status, "registration channel", create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{memCode,jdbcType=VARCHAR}, #{memName,jdbcType=VARCHAR}, 
      #{memPwd,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{memType,jdbcType=INTEGER}, 
      #{mStatus,jdbcType=INTEGER}, #{registrationChannel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    insert into m_main_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memCode != null">
        mem_code,
      </if>
      <if test="memName != null">
        mem_name,
      </if>
      <if test="memPwd != null">
        mem_pwd,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="memType != null">
        mem_type,
      </if>
      <if test="mStatus != null">
        m_status,
      </if>
      <if test="registrationChannel != null">
        "registration channel",
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memCode != null">
        #{memCode,jdbcType=VARCHAR},
      </if>
      <if test="memName != null">
        #{memName,jdbcType=VARCHAR},
      </if>
      <if test="memPwd != null">
        #{memPwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="memType != null">
        #{memType,jdbcType=INTEGER},
      </if>
      <if test="mStatus != null">
        #{mStatus,jdbcType=INTEGER},
      </if>
      <if test="registrationChannel != null">
        #{registrationChannel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    update m_main_info
    <set>
      <if test="memCode != null">
        mem_code = #{memCode,jdbcType=VARCHAR},
      </if>
      <if test="memName != null">
        mem_name = #{memName,jdbcType=VARCHAR},
      </if>
      <if test="memPwd != null">
        mem_pwd = #{memPwd,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="memType != null">
        mem_type = #{memType,jdbcType=INTEGER},
      </if>
      <if test="mStatus != null">
        m_status = #{mStatus,jdbcType=INTEGER},
      </if>
      <if test="registrationChannel != null">
        "registration channel" = #{registrationChannel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neusoft.member.persistence.auto.model.UserInfoEntity">
    update m_main_info
    set mem_code = #{memCode,jdbcType=VARCHAR},
      mem_name = #{memName,jdbcType=VARCHAR},
      mem_pwd = #{memPwd,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      mem_type = #{memType,jdbcType=INTEGER},
      m_status = #{mStatus,jdbcType=INTEGER},
      "registration channel" = #{registrationChannel,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>